@model IEnumerable<web_db.TblCustomer>

@{
    ViewData["Title"] = "لیست عملیات مالی";


    bool SanadShode = ViewBag.SanadShode;
    Guid fkContractType = ViewBag.fkContractType;
    web_sard.Models.tbls.portage.kindPortage.kindPortageEnum? kindPortage = ViewBag.kindPortage;

}

<h1>لیست عملیات @(cl._ListContractType(User._getuserSalMaliDef()).Single(a=>a.Id==fkContractType).Title) @((kindPortage.HasValue? kindPortage.Value.ToKPvalusAttr().Description:"")) @((SanadShode? "سند شده" : "سند نشده"))</h1>

<div>
    @foreach (var item in web_sard.Models.tbls.portage.kindPortage.listkindcontract)
    {
        <a class="btn btn-light  @((item.code== (int?)kindPortage)?"active":"")" asp-action="index" asp-route-SanadShode="@SanadShode" asp-route-fkContractType="@fkContractType" asp-route-kindPortage="@item.code">@item.txt</a>
    }
    <a class="btn btn-light @((null==  kindPortage)?"active":"")" asp-action="index" asp-route-SanadShode="@SanadShode" asp-route-fkContractType="@fkContractType" asp-route-kindPortage="@null">همه</a>
</div>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addras)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdOtherSystem)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addras)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdOtherSystem)
            </td>

            <td>
                <a asp-action="AccCustomer" asp-route-id="@item.Id" asp-route-idcontracttype="@fkContractType" asp-route-kind="@((int?)kindPortage)" ismodal="true" class="btn btn-success fa fa-pager"></a>

            </td>
        </tr>
        }
    </tbody>
</table>
