@model web_sard.Models.tbls.portage.portage

@{
    ViewData["Title"] = Model.KindTitle + " - " + Model.Customer.Title;

    var listContract = (Dictionary<string, Guid>)ViewBag.ListContract;
    var defContract = (Guid)ViewBag.defContract;
}
<div>
    <a asp-action="Index" asp-route-idtype="@Model.FkContractType" class="fa fa-th-list btn btn-dark btn-block mb-3"> لیست ماشینهای داخل محوطه </a>
</div>


<div id="accordion">
    <div class="card border-secondary shadow ">
        <div class="card-header bg-secondary p-0" id="headingOne">
            <h5>
                <button class="btn btn-link btn-block text-white " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    مشخصات محموله
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body ">
                @{
                    var kindcontract = web_sard.Models.tbls.portage.kindPortage.listkindcontract.Find(a => a.code == Model.KindCode);

                }
                <h5>
                    @Model.Code - @Model.Customer.Title <span class="badge badge-@(kindcontract.classcolor) float-left shadow">@kindcontract.txt</span>
                </h5>
                <div>

                    <ul class="list-group list-group-flush m-0 p-0">
                        <li class="list-group-item">
                            <span class="badge badge-@(kindcontract.classcolor) fa fa-truck"> </span>@Model.CarMashin
                            <span class="badge badge-@(kindcontract.classcolor) fa fa-user-cog"> </span> @Model.CarRanande
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-@(kindcontract.classcolor) fa fa-car-battery"> </span>@Model.CarShMashin
                            <span class="badge badge-@(kindcontract.classcolor) fa fa-mobile"> </span>@Model.CarTell
                        </li>
                        <li class="list-group-item">
                            @if (Model.ContractType.IsProduct1Packing0)
                            {
                                <span class="badge badge-@(kindcontract.classcolor) fa fa-hdd"> </span>@Model.Weight1.GetValueOrDefault().ToString("###0.##")

                            }
                            @if (Model.Txt.IsEmpty() == false)
                            {
                                <span class="badge badge-@(kindcontract.classcolor) fa fa-paperclip"> </span>
                                @Model.Txt
                            }
                        </li>


                        <li>

                            <div class="row ">
                                <div class="col-sm-3">
                                    <div class="card bg-info column">
                                        <div class="card-header"> پیوست جدید</div>
                                        <form asp-action="addDoc" enctype="multipart/form-data">
                                            <input type="hidden" name="idp" value="@Model.Id" />
                                            <div class="custom-file">
                                                <input type="file" onchange="form.submit()" name="image" class="custom-file-input" lang="fa" accept="image/x-png ,image/jpeg" />
                                                <label class="custom-file-label "> </label>
                                            </div>
                                        </form>
                                    </div>

                                    @await Html.PartialAsync("li/paintsign", Model.Id)

                                </div>

                                @foreach (var item in Model.Documents)
                                {
                                    <div class="col-sm-3">
                                        <div class="card  ">
                                            <img src="@Url.Action("Doc","Ajax",new {id=item.Id })" class="card-img zoom" />
                                            @if (item.Kind == "Yard")
                                            {
                                                <div class="card-footer">
                                                    <a asp-action="addDoc" asp-route-id="@item.Id" asp-route-del="@true" asp-route-idp="@Model.Id" class="btn btn-sm btn-danger fa fa-recycle float-left"></a>

                                                </div>
                                            }
                                        </div>
                                    </div>

                                }


                            </div>
                        </li>
                    </ul>



                </div>





            </div>
        </div>

    </div>

    <div class="card bg-gradient-light">
        <div class="card-body">
            @foreach (var item in listContract)
            {
            <a asp-action="view" asp-route-id="@Model.Id" asp-route-defContract="@item.Value" class="btn btn-circle btn-info @(item.Value==defContract?"selected":"")">@item.Key</a>
            }
        </div>
    </div>

    @if (defContract != Guid.Empty)
    {

        <div class="card border-info shadow">
            <div class="card-header bg-info p-0" id="headingTwo">
                <h5>
                    <button class="btn btn-link btn-block text-white collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        وضعیت قرارداد
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body" id="contractvc">
                </div>
            </div>
        </div>
        <div class="card  border-success shadow">
            <div class="card-header p-0 bg-success" id="headingThree">
                <h5>
                    <button class="btn btn-link btn-block text-white collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        @(Model.KindCode < 10 ? "تخلیه" : "بارگیری") بار
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <input type="hidden" id="Id" value="@Model.Id" />
                    <input type="hidden" id="fkcontract" value="@defContract" />
                    <input type="hidden" id="FkContractType" value="@Model.FkContractType" />
                    <input type="hidden" id="FkCustomer" value="@Model.FkCustomer" />
                    <input type="hidden" id="IsEntry" value="@Model.ContractType.IsEntry" />
                    <input type="hidden" id="IsProduct1Packing0" value="@Model.ContractType.IsProduct1Packing0" />
                    <h5>
                        @Model.Code - @Model.Customer.Title <span class="badge badge-@(kindcontract.classcolor) float-left shadow">@kindcontract.txt</span>
                    </h5>
            
                    <partial name="TaxlieBargiriPartial" />
                </div>
            </div>
        </div>


        @section js{
            <script>
                Contractbutton("#FkContract", contractvc);
            </script>
            <script src="~/assets/js/Vue.js"></script>
            <script src="~/assets/TaxlieBargirilJs.js"></script>

        }

    }


</div>