@model web_sard.Models.printclass
    <div class="btn-group float-left">

        @foreach (var item in Model.files)
        {
         <a asp-action="Print" asp-route-kind="@item.Value" asp-route-id="@Model.id" asp-route-contolltype="@Model.contolltype" asp-route-actiontype="@Model.actiontype" class="btn btn-outline-success fa  fa-print @(Model.kind==item.Value?"active":"")"> فرمت @item.Value</a>
        } 

    </div>
<br />

