@model web_sard.Models.tbls.contract.contract
@using web_lib
@{

    var ContractType = (web_db.TblContractType)ViewData["type"];

    ViewData["Title"] = Model.Id == Guid.Empty ? $"ثبت {ContractType.Title} جدید" : $" ویرایش {ContractType.Title} ";

    var listcustumer = (List<web_sard.Models.tbls.customer.customer>)ViewData["listcustumer"];

}
<hr />

@if (ContractType.KindCotractType == web_db.TblContractType.KindCotractTypeEnum.ASardKhane)
{
    var conf = ContractType.ConfigASardKhane();



    <form method="post" asp-action="Create">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FkContractType" />
        <input type="hidden" asp-for="Id" />

        @if (Model.Id != Guid.Empty)
        {
            <input type="hidden" asp-for="FkCustomer" />
            <input type="hidden" asp-for="Custumer" />
        }

        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FkCustomer" class="control-label"></label>

                    @if (Model.FkCustomer == Guid.Empty)
                    {
                <select asp-for="FkCustomer" class="form-control">
                    <option> </option>
                    @foreach (var item in listcustumer)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
                    }
                    else
                    { <input asp-for="Custumer" class="form-control" disabled />
                    }

                    <span asp-validation-for="FkCustomer" class="text-danger"></span>
                </div>

                
                    <div class="form-group">
                        <label asp-for="prodoctsId" class="control-label"></label>

                        <select asp-for="prodoctsId" class="form-control">
                            @foreach (var item in web_sard.Models.cl._ListProduct)
                            {
                                if (Model.prodoctsId != null && Model.prodoctsId.Any(a => a == item.Id))
                                {
                                    <option value="@item.Id" selected>@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="prodoctsId" class="text-danger"></span>
                    </div>
                

            </div>
            <div class="col-md-4">


                
                   
                        <div class="form-group ">
                            <label asp-for="WeightMaxIn" class="control-label"></label>
                            <input asp-for="WeightMaxIn" value="@Model.WeightMaxIn.GetValueOrDefault().ToString("###")" type="number" class="form-control" />
                            <span asp-validation-for="WeightMaxIn" class="text-danger"></span>
                        </div>
                    
                    
                        @if (conf.OutControlByPercent)
                        {
                            <div class="form-group ">
                                <label asp-for="PercentForOut" class="control-label"></label>
                                <input asp-for="PercentForOut" value="@Model.PercentForOut.GetValueOrDefault().ToString("0")" min="0" max="100" type="number" class="form-control" />
                                <span asp-validation-for="PercentForOut" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group ">
                                <label asp-for="WeightMaxOut" class="control-label"></label>
                                <input asp-for="WeightMaxOut" value="@Model.WeightMaxOut.GetValueOrDefault().ToString("###")" type="number" class="form-control" />
                                <span asp-validation-for="WeightMaxOut" class="text-danger"></span>
                            </div>
                        }

                    


            
                <div class="row">

                    <div class="form-group col-md-6">
                        <label asp-for="Azdate" class="control-label"></label>
                        <input asp-for="Azdate" class="form-control datepicker" />

                        <span asp-validation-for="Azdate" class="text-danger"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label asp-for="Tadate" class="control-label"></label>
                        <input asp-for="Tadate" class="form-control datepicker" />

                        <span asp-validation-for="Tadate" class="text-danger"></span>
                    </div>
                </div>





                <div class="form-group">
                    <label asp-for="Txt" class="control-label"></label>
                    <textarea asp-for="Txt" class="form-control"></textarea>

                    <span asp-validation-for="Txt" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">


                <div class="row">


                    
                        <div class="form-group col-md-6 ">
                            <label asp-for="PriceOfBoxIn" class="control-label"></label>
                            <input asp-for="PriceOfBoxIn" value="@((Model.PriceOfBoxIn??0).ToString("#####0.###"))" type="number" class="form-control" />
                            <span asp-validation-for="PriceOfBoxIn" class="text-danger"></span>
                        </div>
                   
                        <div class="form-group col-md-6 ">
                            <label asp-for="PriceOfBoxOut" class="control-label"></label>
                            <input asp-for="PriceOfBoxOut" value="@((Model.PriceOfBoxOut??0).ToString("#####0.###"))" type="number" class="form-control" />
                            <span asp-validation-for="PriceOfBoxOut" class="text-danger"></span>
                        </div>
                    





                </div>
                
                    <div class="row">

                      

                            <div class="form-group  col-md-6 ">
                                <label asp-for="PriceOfKiloIn" class="control-label"></label>
                                <input asp-for="PriceOfKiloIn" value="@((Model.PriceOfKiloIn??0).ToString("########0.###"))" type="number" class="form-control" />
                                <span asp-validation-for="PriceOfKiloIn" class="text-danger"></span>
                            </div>
                       
                            <div class="form-group  col-md-6 ">
                                <label asp-for="PriceOfKiloOut" class="control-label"></label>
                                <input asp-for="PriceOfKiloOut" value="@((Model.PriceOfKiloOut??0).ToString("########0.###"))" type="number" class="form-control" />
                                <span asp-validation-for="PriceOfKiloOut" class="text-danger"></span>
                            </div>
                         


                    </div>
              



                <hr />
                <div class="row">

                    <div class="form-group col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="isEndVrud" /> @Html.DisplayNameFor(model => model.isEndVrud)
                            </label>
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="isEndXroj" /> @Html.DisplayNameFor(model => model.isEndXroj)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (User._getRolAny(_UserRol._Rolls.ContractEdit))
        {

            <div class="form-group float-left">

                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" name="sendSMS" value="true" checked id="sendSMS">
                    <label class="form-check-label" for="sendSMS">ارسال پیامک تغییرات</label>
                </div>
                <button type="submit" class="btn btn-primary fa fa-save"> ثبت  </button>

            </div>


        }

    </form>






}
else if (ContractType.KindCotractType == web_db.TblContractType.KindCotractTypeEnum.ASabad)
{
    var conf = ContractType.ConfigASabad();



    <form method="post" asp-action="Create">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FkContractType" />
        <input type="hidden" asp-for="Id" />

        @if (Model.Id != Guid.Empty)
        {
            <input type="hidden" asp-for="FkCustomer" />
            <input type="hidden" asp-for="Custumer" />
        }

        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FkCustomer" class="control-label"></label>

                    @if (Model.FkCustomer == Guid.Empty)
                    {
                <select asp-for="FkCustomer" class="form-control">
                    <option> </option>
                    @foreach (var item in listcustumer)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
                    }
                    else
                    { <input asp-for="Custumer" class="form-control" disabled />
                    }

                    <span asp-validation-for="FkCustomer" class="text-danger"></span>
                </div>

              
                    <div class="form-group">
                        <label asp-for="packingsId" class="control-label"></label>

                        <select asp-for="packingsId" class="form-control">
                            @foreach (var item in web_sard.Models.cl._ListPacking.Where(a=>a.IsActive&&((a.ForContractTypeJson??"").Contains(ContractType.Code.ToString()))))
                            {
                                if (Model.packingsId != null && Model.packingsId.Any(a => a == item.Id))
                                {
                                    <option value="@item.Id" selected>@item.Title</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            }

                        </select>

                        <span asp-validation-for="packingsId" class="text-danger"></span>
                    </div>
               

            </div>
            <div class="col-md-4">


               
                    @if (conf.IsEntry)
                    {
                        <div class="form-group ">
                            <label asp-for="CountMaxIn" class="control-label"></label>
                            <input asp-for="CountMaxIn" type="number" class="form-control" />
                            <span asp-validation-for="CountMaxIn" class="text-danger"></span>
                        </div>
                    }
                    @if (conf.IsExit)
                    {
                     
                            <div class="form-group ">
                                <label asp-for="CountMaxOut" class="control-label"></label>
                                <input asp-for="CountMaxOut" type="number" class="form-control" />
                                <span asp-validation-for="CountMaxOut" class="text-danger"></span>
                            </div>
                        
                    }


                
                <div class="row">

                    <div class="form-group col-md-6">
                        <label asp-for="Azdate" class="control-label"></label>
                        <input asp-for="Azdate" class="form-control datepicker" />

                        <span asp-validation-for="Azdate" class="text-danger"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label asp-for="Tadate" class="control-label"></label>
                        <input asp-for="Tadate" class="form-control datepicker" />

                        <span asp-validation-for="Tadate" class="text-danger"></span>
                    </div>
                </div>





                <div class="form-group">
                    <label asp-for="Txt" class="control-label"></label>
                    <textarea asp-for="Txt" class="form-control"></textarea>

                    <span asp-validation-for="Txt" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">


                <div class="row">


                    @if (conf.IsEntry)
                    {
                        <div class="form-group col-md-6 ">
                            <label asp-for="PriceOfBoxIn" class="control-label"></label>
                            <input asp-for="PriceOfBoxIn" value="@((Model.PriceOfBoxIn??0).ToString("#####0.###"))" type="number" class="form-control" />
                            <span asp-validation-for="PriceOfBoxIn" class="text-danger"></span>
                        </div>
                    }
                    @if (conf.IsExit)
                    {
                        <div class="form-group col-md-6 ">
                            <label asp-for="PriceOfBoxOut" class="control-label"></label>
                            <input asp-for="PriceOfBoxOut" value="@((Model.PriceOfBoxOut??0).ToString("#####0.###"))" type="number" class="form-control" />
                            <span asp-validation-for="PriceOfBoxOut" class="text-danger"></span>
                        </div>
                    }





                </div>
              

                <hr />
                <div class="row">

                    <div class="form-group col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="isEndVrud" /> @Html.DisplayNameFor(model => model.isEndVrud)
                            </label>
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="isEndXroj" /> @Html.DisplayNameFor(model => model.isEndXroj)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (User._getRolAny(_UserRol._Rolls.ContractEdit))
        {

            <div class="form-group float-left">

                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" name="sendSMS" value="true" checked id="sendSMS">
                    <label class="form-check-label" for="sendSMS">ارسال پیامک تغییرات</label>
                </div>
                <button type="submit" class="btn btn-primary fa fa-save"> ثبت  </button> 
            </div>
             
        }

    </form>
     
}
  
<div>
    <a asp-action="Index" asp-route-idtype="@ContractType.Id">بازگشت به لیست</a>
</div>



