@model List<web_sard.Models.tbls.contract.contract>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card bg-gradient-dark text-gray-100 shadow">
        <div class="card-body">
            <h5 class="card-title"> وضعیت قرارداد @item.Custumer @item.Code</h5>
            <div class="row">
                <div class="col-md-7">

                 
                </div>


                <div class="col-md-5">
                    @if (item.Txt.IsEmpty() == false)
                    {
                        <span class="badge badge-info"> توضیحات قرارداد</span>
                        <span class="badge badge-light">  @item.Txt</span>

                        <br />
                    }
                    <span class="badge badge-info"> زمان قرارداد</span><span class="badge badge-light"> <span class="badge badge-secondary badge-counter fa fa-calendar"></span> @item.Date.ToPersianDate() </span>
                    <br />
                    <span class="badge badge-info"> زمان تحویل</span><span class="badge badge-light"> <span class="badge badge-secondary badge-counter fa fa-calendar"> از </span> @item.Azdate <span class="badge badge-secondary badge-counter fa fa-calendar"> تا </span> @item.Tadate</span>
                    <br />
                    <span class="badge badge-info  fa fa-plus"> </span><span class="badge badge-light">
                        <span class="badge badge-secondary badge-counter fa fa-user"> </span>@item.useradd
                        <span class="badge badge-secondary badge-counter fa fa-calendar"> </span>@item.dateadd
                    </span>
                    <br />
                    @if (string.IsNullOrWhiteSpace(item.useredit) == false)
                    {
                        <span class="badge badge-info fa fa-edit"> </span><span class="badge badge-light">
                            <span class="badge badge-secondary badge-counter fa fa-user"> </span>@item.useredit
                            <span class="badge badge-secondary badge-counter fa fa-calendar"> </span>@item.dateedit
                        </span>
                        <br />
                    }

                    <span class="badge badge-info"> نرخ هر جعبه  </span><span class="badge badge-light">
                        @if (item.ContractType.IsEntry)
                        {
                            <span class="badge badge-secondary badge-counter fa fa-money">In</span>@item.PriceOfBoxIn.ToString("###,###,##0.##")
                        }
                        @if (item.ContractType.IsExit)
                        {
                            <span class="badge badge-secondary badge-counter fa fa-money">Out</span>@item.PriceOfBoxOut.ToString("###,###,##0.##")
                        }
                    </span>
                    <br />
                    @if (item.ContractType.IsProduct1Packing0)
                    {
                        <span class="badge badge-info"> نرخ هر کیلو  </span><span class="badge badge-light">
                            @if (item.ContractType.IsEntry)
                            {
                                <span class="badge badge-secondary badge-counter fa fa-money">In</span>@item.PriceOfKiloIn.ToString("###,###,##0.##")
                            }
                            @if (item.ContractType.IsExit)
                            {
                                <span class="badge badge-secondary badge-counter fa fa-money">Out</span>@item.PriceOfKiloOut.ToString("###,###,##0.##")
                            }
                        </span>
                    }



                </div>



            </div>

        </div>
    </div>

}


