@model List<web_sard.Models.tbls.contract.contract>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card bg-gradient-dark text-gray-100 shadow">
        <div class="card-body">
            <h5 class="card-title"> وضعیت قرارداد @item.Custumer @item.Code</h5>
            <div class="row">
                <div class="col-lg-10">
                    <div class="table-responsive">
                        <table class="table table-secondary table-sm table-striped  ">
                            <thead class="table-dark">
                                <tr>
                                <tr>
                                    <td>

                                        <span class="badge badge-info">
                                            وزن
                                        </span>
                                        <span class="badge badge-warning">
                                            تعداد

                                        </span>
                                    </td>


                                    <td class="small">ورود - خروج</td>
                                    @if (item.ContractType.IsProduct1Packing0)
                                    {
                                        <td class="small">موجودی</td>
                                    }
                                        <td class="small"> مانده جهت ورود</td>
                                        <td class="small"> مانده جهت خروج</td>


                                    </tr>
                            </thead>
                            @foreach (var row in item.mandeHesab)
                            {
                        <tr>
                            <td>
                                <small>
                                    @row.txt
                                </small> <br />
                                @foreach (var l in row.mandelocations)
                                {
                                    <span class="badge badge-light">@l.Key <span class="badge badge-dark badge-pill badge-counter"> @l.Value</span></span>
                                }
                            </td>
                            <td>
                                <span class="badge badge-info ">@row.Weight.InSum.ToKilo() - @row.Weight.OutSum.ToKilo()</span> <br />
                                <span class="badge badge-warning">  @row.Count.InSum - @row.Count.OutSum</span>

                            </td>
                            @if (item.ContractType.IsProduct1Packing0)
                            {
                                <td>
                                    <span class="badge badge-info @((row.Weight.InSum - row.Weight.OutSum)<0?"badge-danger":"")">@((row.Weight.InSum - row.Weight.OutSum).ToKilo())</span>
                                    <span class="badge badge-warning @((row.Count.InSum - row.Count.OutSum)<0?"badge-danger":"")">@(row.Count.InSum - row.Count.OutSum)</span>
                                </td>
                            }
                            
                            <td>
                                <span class="badge badge-info  @(row.Weight.InMandeContract.HasValue?"":"invisible ") @(row.Weight.InMandeContract<0?"badge-danger":"")">@row.Weight.InMandeContract.ToKilo() از <small>@row.Weight.InMaxContract.ToKilo()</small></span>
                                <span class="badge badge-warning @(row.Count.InMandeContract.HasValue?"":"invisible ") @(row.Count.InMandeContract<0?"badge-danger":"")">@row.Count.InMandeContract از <small>@row.Count.InMaxContract</small></span>
                            </td>
                            <td>
                                <span class="badge badge-info @(row.Weight.OutMandeContract.HasValue?"":"invisible ")  @(row.Weight.OutMandeContract<0?"badge-danger":"")">@row.Weight.OutMandeContract.ToKilo() از <small>@row.Weight.OutMaxContract.ToKilo()</small></span>
                                <span class="badge badge-warning @(row.Count.OutMandeContract.HasValue?"":"invisible ") @(row.Count.OutMandeContract<0?"badge-danger":"")">@row.Count.OutMandeContract از <small>@row.Count.OutMaxContract</small></span>
                            </td>
                        </tr>
                            }

                        </table>

                    </div>
                 
                </div>


                <div class="col-lg-2">
                    @if (item.Txt.IsEmpty() == false)
                    {
                        <span class="badge badge-info"> توضیحات قرارداد</span>
                        <span class="badge badge-light">  @item.Txt</span>

                        <br />
                    }
                    <span class="badge badge-info" data-toggle="tooltip" title="@item.Date.ToPersianDate()"> زمان قرارداد</span>
                      
                    <br />
                    <span class="badge badge-info" data-toggle="tooltip" title="از @item.Azdate   تا @item.Tadate "> زمان تحویل</span>
                     
                    <br />
                    <span class="badge badge-info  fa fa-plus" data-toggle="tooltip" title="@item.useradd @item.dateadd"> </span>

                    @if (string.IsNullOrWhiteSpace(item.useredit) == false)
                    {
                        <span class="badge badge-info fa fa-edit"  data-toggle="tooltip" title="@item.useredit @item.dateedit"> </span> 

                    } <br />

                    <span class="badge badge-info" > نرخ هر جعبه  </span>
                    
                    <span class="badge badge-light">
                        @if (item.ContractType.IsEntry)
                        {
                            <span class="badge badge-secondary badge-counter fa fa-money" data-toggle="tooltip" title="@item.PriceOfBoxIn.ToString("###,###,##0.##")">In</span>
                        }
                        @if (item.ContractType.IsExit)
                        {
                            <span class="badge badge-secondary badge-counter fa fa-money" data-toggle="tooltip" title="@item.PriceOfBoxOut.ToString("###,###,##0.##")">Out</span>
                        }
                    </span>
                    <br />
                    @if (item.ContractType.IsProduct1Packing0)
                    {
                        <span class="badge badge-info"> نرخ هر کیلو  </span><span class="badge badge-light">
                            @if (item.ContractType.IsEntry)
                            {
                                <span class="badge badge-secondary badge-counter fa fa-money" data-toggle="tooltip" title="@item.PriceOfKiloIn.ToString("###,###,##0.##")">In</span>
                            }
                            @if (item.ContractType.IsExit)
                            {
                                <span class="badge badge-secondary badge-counter fa fa-money" data-toggle="tooltip" title="@item.PriceOfKiloOut.ToString("###,###,##0.##")">Out</span>
                            }
                        </span>
                    }
                     
                </div>



            </div>

        </div>
    </div>

}


